<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AMbackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1009,609}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1009,609}}</string>
                <key>sourceSize</key>
                <string>{1011,613}</string>
            </dict>
            <key>AMstartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,914},{100,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>AMstartSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,687},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{70,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Hero_1_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,921},{251,160}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,160}}</string>
                <key>sourceSize</key>
                <string>{251,166}</string>
            </dict>
            <key>Hero_1_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1010},{251,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{251,164}}</string>
                <key>sourceSize</key>
                <string>{251,166}</string>
            </dict>
            <key>Hero_2_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1059},{249,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{249,190}}</string>
                <key>sourceSize</key>
                <string>{251,198}</string>
            </dict>
            <key>Hero_2_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,812},{251,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{251,196}}</string>
                <key>sourceSize</key>
                <string>{251,200}</string>
            </dict>
            <key>Hero_3_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1171},{249,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{249,154}}</string>
                <key>sourceSize</key>
                <string>{251,166}</string>
            </dict>
            <key>Hero_3_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1011},{251,158}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{251,158}}</string>
                <key>sourceSize</key>
                <string>{251,166}</string>
            </dict>
            <key>cancelNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,812},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cancelSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,613},{70,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{70,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>confirmNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,516},{178,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{178,42}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>confirmSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,314},{200,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,58}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>enemy_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,158},{125,11}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,11}}</string>
                <key>sourceSize</key>
                <string>{125,13}</string>
            </dict>
            <key>enemy_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,158},{125,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,13}}</string>
                <key>sourceSize</key>
                <string>{125,13}</string>
            </dict>
            <key>gate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,158},{400,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,154}}</string>
                <key>sourceSize</key>
                <string>{400,154}</string>
            </dict>
            <key>gate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,2},{400,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,154}}</string>
                <key>sourceSize</key>
                <string>{400,154}</string>
            </dict>
            <key>gate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{400,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,154}}</string>
                <key>sourceSize</key>
                <string>{400,154}</string>
            </dict>
            <key>gateMap1Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{332,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{332,202}}</string>
                <key>sourceSize</key>
                <string>{334,208}</string>
            </dict>
            <key>gateMap1Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,566},{332,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{332,202}}</string>
                <key>sourceSize</key>
                <string>{334,208}</string>
            </dict>
            <key>gateMap2Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,518},{332,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{332,202}}</string>
                <key>sourceSize</key>
                <string>{334,208}</string>
            </dict>
            <key>gateMap2Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,362},{332,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{332,202}}</string>
                <key>sourceSize</key>
                <string>{334,208}</string>
            </dict>
            <key>gateMap3Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,314},{332,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{332,202}}</string>
                <key>sourceSize</key>
                <string>{334,208}</string>
            </dict>
            <key>gateMap3Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,158},{332,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{332,202}}</string>
                <key>sourceSize</key>
                <string>{334,208}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{240,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,274}}</string>
                <key>sourceSize</key>
                <string>{240,276}</string>
            </dict>
            <key>hero1Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,812},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
            <key>hero1Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,912},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,2},{220,318}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{220,318}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>hero2Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,770},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
            <key>hero2Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,722},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
            <key>hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,722},{75,236}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{75,236}}</string>
                <key>sourceSize</key>
                <string>{153,240}</string>
            </dict>
            <key>hero3Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,613},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
            <key>hero3Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,613},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
            <key>hero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,322},{190,290}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,14},{190,290}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>hero4Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,713},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
            <key>hero4Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,514},{197,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,300}}</string>
                <key>sourceSize</key>
                <string>{197,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AdventureModeScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67f9b593af5dbb530a277d98a067afb6$</string>
            <key>textureFileName</key>
            <string>AdventureModeScene.png</string>
        </dict>
    </dict>
</plist>
