<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,418},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,460},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Gate_1_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,649},{97,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,649},{98,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,649},{97,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,649},{98,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,649},{97,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,649},{98,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,506},{97,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,506},{97,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,750},{97,139}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,750},{98,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,139}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,506},{97,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{249,157}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{249,157}}</string>
                <key>sourceSize</key>
                <string>{251,163}</string>
            </dict>
            <key>Gate_1_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{251,161}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,161}}</string>
                <key>sourceSize</key>
                <string>{251,163}</string>
            </dict>
            <key>Gate_2_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,506},{108,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,141}}</string>
                <key>sourceSize</key>
                <string>{108,141}</string>
            </dict>
            <key>Gate_2_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,757},{108,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,141}}</string>
                <key>sourceSize</key>
                <string>{108,141}</string>
            </dict>
            <key>Gate_2_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,750},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,506},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,750},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,506},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,750},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,506},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,325},{120,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,141}}</string>
                <key>sourceSize</key>
                <string>{120,141}</string>
            </dict>
            <key>Gate_2_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,900},{120,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,139}}</string>
                <key>sourceSize</key>
                <string>{120,141}</string>
            </dict>
            <key>Gate_2_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{120,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,141}}</string>
                <key>sourceSize</key>
                <string>{120,141}</string>
            </dict>
            <key>Gate_2_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{249,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{249,152}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>Gate_2_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,165},{251,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{251,158}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>Gate_3_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,647},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,649},{99,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,116}}</string>
                <key>sourceSize</key>
                <string>{99,116}</string>
            </dict>
            <key>Gate_3_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,647},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,413},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,647},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,413},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,891},{98,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,318},{98,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,647},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,649},{99,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,116}}</string>
                <key>sourceSize</key>
                <string>{99,116}</string>
            </dict>
            <key>Gate_3_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,318},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,255},{249,157}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{249,157}}</string>
                <key>sourceSize</key>
                <string>{251,163}</string>
            </dict>
            <key>Gate_3_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{251,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,160}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>Gate_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,893},{125,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{125,115}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>Gate_angryBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,318},{109,93}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{109,93}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>Gate_mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1008},{85,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,9}}</string>
                <key>sourceSize</key>
                <string>{89,13}</string>
            </dict>
            <key>Gate_mpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{89,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,13}}</string>
                <key>sourceSize</key>
                <string>{89,13}</string>
            </dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,468},{48,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,418},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,418},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>paoBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,418},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>paoBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,418},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{599,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,314}}</string>
                <key>sourceSize</key>
                <string>{599,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameLayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0a2c850c9bc5a89cef035503cbf953$</string>
            <key>textureFileName</key>
            <string>GameLayer.png</string>
        </dict>
    </dict>
</plist>
