<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,851},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,893},{38,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Gate_1_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,858},{97,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,619},{98,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,858},{97,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,619},{98,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,858},{97,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,619},{98,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,759},{97,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,670},{97,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,526},{97,139}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,327},{98,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,139}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>Gate_1_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,427},{97,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>Gate_1_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,254},{250,163}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,163}}</string>
                <key>sourceSize</key>
                <string>{252,171}</string>
            </dict>
            <key>Gate_1_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{251,161}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,161}}</string>
                <key>sourceSize</key>
                <string>{251,163}</string>
            </dict>
            <key>Gate_2_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,649},{108,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,141}}</string>
                <key>sourceSize</key>
                <string>{108,141}</string>
            </dict>
            <key>Gate_2_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,506},{108,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,141}}</string>
                <key>sourceSize</key>
                <string>{108,141}</string>
            </dict>
            <key>Gate_2_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,327},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,506},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,327},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,506},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,327},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,506},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Gate_2_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,327},{120,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,141}}</string>
                <key>sourceSize</key>
                <string>{120,141}</string>
            </dict>
            <key>Gate_2_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,327},{120,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,139}}</string>
                <key>sourceSize</key>
                <string>{120,141}</string>
            </dict>
            <key>Gate_2_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{120,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,141}}</string>
                <key>sourceSize</key>
                <string>{120,141}</string>
            </dict>
            <key>Gate_2_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{250,159}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,159}}</string>
                <key>sourceSize</key>
                <string>{252,171}</string>
            </dict>
            <key>Gate_2_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{251,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{251,158}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>Gate_3_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,519},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,318},{99,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,116}}</string>
                <key>sourceSize</key>
                <string>{99,116}</string>
            </dict>
            <key>Gate_3_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,569},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,468},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,569},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,468},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>Gate_3_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,427},{98,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,327},{98,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,519},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,318},{99,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,116}}</string>
                <key>sourceSize</key>
                <string>{99,116}</string>
            </dict>
            <key>Gate_3_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,419},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>Gate_3_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{250,163}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,163}}</string>
                <key>sourceSize</key>
                <string>{252,171}</string>
            </dict>
            <key>Gate_3_hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,165},{251,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,160}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,470},{48,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,769},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,858},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>paoBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,959},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>paoBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,959},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{599,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,314}}</string>
                <key>sourceSize</key>
                <string>{599,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameLayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:180eff4e8a41ec3e0b47087cad6ac45e$</string>
            <key>textureFileName</key>
            <string>GameLayer.png</string>
        </dict>
    </dict>
</plist>
