<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero_2_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,154},{210,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,177}}</string>
                <key>sourceSize</key>
                <string>{210,177}</string>
            </dict>
            <key>Hero_2_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,357},{180,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>Hero_2_Attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,237}}</string>
                <key>sourceSize</key>
                <string>{294,237}</string>
            </dict>
            <key>Hero_2_Attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{291,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,201}}</string>
                <key>sourceSize</key>
                <string>{291,201}</string>
            </dict>
            <key>Hero_2_Attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{246,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,150}}</string>
                <key>sourceSize</key>
                <string>{246,150}</string>
            </dict>
            <key>Hero_2_Attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,849},{150,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,138}</string>
            </dict>
            <key>Hero_2_Attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,679},{174,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>Hero_2_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,150}}</string>
                <key>sourceSize</key>
                <string>{174,150}</string>
            </dict>
            <key>Hero_2_Dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{135,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,174}}</string>
                <key>sourceSize</key>
                <string>{135,174}</string>
            </dict>
            <key>Hero_2_Dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,154},{210,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,75}}</string>
                <key>sourceSize</key>
                <string>{210,75}</string>
            </dict>
            <key>Hero_2_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,231},{189,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,168}}</string>
                <key>sourceSize</key>
                <string>{189,168}</string>
            </dict>
            <key>Hero_2_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,231},{189,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,168}}</string>
                <key>sourceSize</key>
                <string>{189,168}</string>
            </dict>
            <key>Hero_2_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,485},{147,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,180}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>Hero_2_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{144,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,180}}</string>
                <key>sourceSize</key>
                <string>{144,180}</string>
            </dict>
            <key>Hero_2_Idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,533},{144,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,180}}</string>
                <key>sourceSize</key>
                <string>{144,180}</string>
            </dict>
            <key>Hero_2_Idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,634},{144,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,177}}</string>
                <key>sourceSize</key>
                <string>{144,177}</string>
            </dict>
            <key>Hero_2_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{180,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,153}}</string>
                <key>sourceSize</key>
                <string>{180,153}</string>
            </dict>
            <key>Hero_2_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,333},{186,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,150}}</string>
                <key>sourceSize</key>
                <string>{186,150}</string>
            </dict>
            <key>Hero_2_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{189,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,147}}</string>
                <key>sourceSize</key>
                <string>{189,147}</string>
            </dict>
            <key>Hero_2_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,205},{189,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,150}}</string>
                <key>sourceSize</key>
                <string>{189,150}</string>
            </dict>
            <key>Hero_2_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,401},{180,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>Hero_2_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{183,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,150}}</string>
                <key>sourceSize</key>
                <string>{183,150}</string>
            </dict>
            <key>Hero_2_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,553},{177,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,150}}</string>
                <key>sourceSize</key>
                <string>{177,150}</string>
            </dict>
            <key>Hero_2_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,401},{177,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,150}}</string>
                <key>sourceSize</key>
                <string>{177,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c71a74f49e38946c433ca8dd575a15$</string>
            <key>textureFileName</key>
            <string>hero2.png</string>
        </dict>
    </dict>
</plist>
