<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero_3_Attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,671},{130,222}}</string>
                <key>offset</key>
                <string>{-110,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{130,222}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,539},{130,222}}</string>
                <key>offset</key>
                <string>{-110,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{130,222}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,911},{156,216}}</string>
                <key>offset</key>
                <string>{-114,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{156,216}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,895},{212,216}}</string>
                <key>offset</key>
                <string>{-86,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{212,216}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{268,210}}</string>
                <key>offset</key>
                <string>{-58,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{268,210}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{310,210}}</string>
                <key>offset</key>
                <string>{-37,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{310,210}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{350,210}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,210}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,210}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{360,210}}</string>
                <key>sourceSize</key>
                <string>{384,222}</string>
            </dict>
            <key>Hero_3_Dead_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,695},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>Hero_3_Hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{141,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,222}}</string>
                <key>sourceSize</key>
                <string>{141,222}</string>
            </dict>
            <key>Hero_3_Hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,679},{125,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,222}}</string>
                <key>sourceSize</key>
                <string>{125,222}</string>
            </dict>
            <key>Hero_3_Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,214},{163,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,222}}</string>
                <key>sourceSize</key>
                <string>{163,222}</string>
            </dict>
            <key>Hero_3_Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,214},{161,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,222}}</string>
                <key>sourceSize</key>
                <string>{161,222}</string>
            </dict>
            <key>Hero_3_Idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,214},{161,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,222}}</string>
                <key>sourceSize</key>
                <string>{161,222}</string>
            </dict>
            <key>Hero_3_Idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,377},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>Hero_3_Idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,379},{158,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,222}}</string>
                <key>sourceSize</key>
                <string>{158,222}</string>
            </dict>
            <key>Hero_3_Idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,536},{157,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,222}}</string>
                <key>sourceSize</key>
                <string>{157,222}</string>
            </dict>
            <key>Hero_3_Idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,377},{157,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,222}}</string>
                <key>sourceSize</key>
                <string>{157,222}</string>
            </dict>
            <key>Hero_3_Walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{110,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,222}}</string>
                <key>sourceSize</key>
                <string>{110,222}</string>
            </dict>
            <key>Hero_3_Walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{99,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,222}}</string>
                <key>sourceSize</key>
                <string>{99,222}</string>
            </dict>
            <key>Hero_3_Walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,804},{89,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,222}}</string>
                <key>sourceSize</key>
                <string>{89,222}</string>
            </dict>
            <key>Hero_3_Walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,806},{106,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,222}}</string>
                <key>sourceSize</key>
                <string>{106,222}</string>
            </dict>
            <key>Hero_3_Walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,803},{106,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,222}}</string>
                <key>sourceSize</key>
                <string>{106,222}</string>
            </dict>
            <key>Hero_3_Walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,808},{88,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,222}}</string>
                <key>sourceSize</key>
                <string>{88,222}</string>
            </dict>
            <key>Hero_3_Walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,695},{107,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,222}}</string>
                <key>sourceSize</key>
                <string>{107,222}</string>
            </dict>
            <key>Hero_3_Walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,539},{138,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,222}}</string>
                <key>sourceSize</key>
                <string>{138,222}</string>
            </dict>
            <key>Hero_3_Walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{137,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,222}}</string>
                <key>sourceSize</key>
                <string>{137,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1098d94ff9fe0a90daa05c4909388ba$</string>
            <key>textureFileName</key>
            <string>hero3.png</string>
        </dict>
    </dict>
</plist>
