<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventureNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{334,94}</string>
                <key>spriteSourceSize</key>
                <string>{340,128}</string>
                <key>textureRect</key>
                <string>{{1,771},{334,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventureSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{334,94}</string>
                <key>spriteSourceSize</key>
                <string>{340,128}</string>
                <key>textureRect</key>
                <string>{{1,867},{334,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{334,94}</string>
                <key>spriteSourceSize</key>
                <string>{340,130}</string>
                <key>textureRect</key>
                <string>{{337,771},{334,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{334,94}</string>
                <key>spriteSourceSize</key>
                <string>{340,130}</string>
                <key>textureRect</key>
                <string>{{337,867},{334,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>versusNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{334,94}</string>
                <key>spriteSourceSize</key>
                <string>{340,128}</string>
                <key>textureRect</key>
                <string>{{673,771},{334,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>versusSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{334,94}</string>
                <key>spriteSourceSize</key>
                <string>{340,128}</string>
                <key>textureRect</key>
                <string>{{673,867},{334,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MenuScene.png</string>
            <key>size</key>
            <string>{1026,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2fbde0cca07435a323cddb946a62a75:7f759c8bb4ed6851ab3f627bb206c0ce:8d967e4e8e35d211f3a88ea4a101e0a5$</string>
            <key>textureFileName</key>
            <string>MenuScene.png</string>
        </dict>
    </dict>
</plist>
