<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{108,247}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{108,247}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>Gate_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,780},{200,311}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>Gate_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,194},{200,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>Gate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,842},{148,205}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,41},{148,205}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>Gate_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,112},{200,310}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,310}}</string>
                <key>sourceSize</key>
                <string>{200,316}</string>
            </dict>
            <key>Gate_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,578},{200,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>Gate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,778},{150,263}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{150,263}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>Gate_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,507},{200,310}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,310}}</string>
                <key>sourceSize</key>
                <string>{200,316}</string>
            </dict>
            <key>Gate_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,194},{200,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,774}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,774}}</string>
                <key>sourceSize</key>
                <string>{1024,774}</string>
            </dict>
            <key>map_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,386},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,194},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,778},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,891},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,891},{86,94}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,424},{73,73}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{73,73}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>prop_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,838},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,753},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,578},{33,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,63}}</string>
                <key>sourceSize</key>
                <string>{41,69}</string>
            </dict>
            <key>prop_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,700},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,562},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{52,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>prop_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,424},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,842},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>restartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,507},{244,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{244,85}}</string>
                <key>sourceSize</key>
                <string>{300,131}</string>
            </dict>
            <key>restartSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,930},{246,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{246,85}}</string>
                <key>sourceSize</key>
                <string>{300,131}</string>
            </dict>
            <key>startNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,507},{244,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{244,85}}</string>
                <key>sourceSize</key>
                <string>{300,131}</string>
            </dict>
            <key>startSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,709},{296,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,131}}</string>
                <key>sourceSize</key>
                <string>{300,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VersusModeScene.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc29ddfbac917dcc1d41dc2217737b8e$</string>
            <key>textureFileName</key>
            <string>VersusModeScene.png</string>
        </dict>
    </dict>
</plist>
