<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,465},{108,247}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{108,247}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>Gate_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,770},{200,311}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>Gate_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,683},{200,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>Gate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2},{148,205}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,41},{148,205}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>Gate_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1040},{200,310}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,310}}</string>
                <key>sourceSize</key>
                <string>{200,316}</string>
            </dict>
            <key>Gate_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,575},{200,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>Gate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,888},{150,263}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{150,263}}</string>
                <key>sourceSize</key>
                <string>{160,285}</string>
            </dict>
            <key>Gate_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,972},{200,310}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,310}}</string>
                <key>sourceSize</key>
                <string>{200,316}</string>
            </dict>
            <key>Gate_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,152},{200,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,311}}</string>
                <key>sourceSize</key>
                <string>{200,317}</string>
            </dict>
            <key>Gate_mp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,122},{118,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,22}}</string>
                <key>sourceSize</key>
                <string>{120,24}</string>
            </dict>
            <key>Gate_mpBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,2},{118,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,22}}</string>
                <key>sourceSize</key>
                <string>{120,24}</string>
            </dict>
            <key>VMbackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,774}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,774}}</string>
                <key>sourceSize</key>
                <string>{1024,774}</string>
            </dict>
            <key>VMbackground2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{400,295}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{400,295}}</string>
                <key>sourceSize</key>
                <string>{400,533}</string>
            </dict>
            <key>VMstartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,704},{152,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{152,50}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>VMstartSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,845},{160,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,62}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>map_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,578},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,491},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,386},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,299},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,194},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>map_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{378,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,190}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1145},{86,94}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{86,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>prop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{73,73}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{73,73}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>prop_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{72,72}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{72,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>prop_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1242},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,306},{33,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,63}}</string>
                <key>sourceSize</key>
                <string>{41,69}</string>
            </dict>
            <key>prop_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,242},{34,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,62}}</string>
                <key>sourceSize</key>
                <string>{42,70}</string>
            </dict>
            <key>prop_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,778},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,778},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,640},{52,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>prop_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,575},{53,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>prop_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1007},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>prop_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{136,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>restartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,858},{150,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,50}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>restartSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,683},{160,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,62}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{128,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,176}}</string>
                <key>sourceSize</key>
                <string>{128,188}</string>
            </dict>
            <key>sludge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,770},{113,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,37}}</string>
                <key>sourceSize</key>
                <string>{113,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VersusModeScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72b211b22e0d6de1d18d02bfd775aae1$</string>
            <key>textureFileName</key>
            <string>VersusModeScene.png</string>
        </dict>
    </dict>
</plist>
